    /*All Pages*/
/*Navbar*/
.navigation{
    text-decoration:none;
    color:black;
    line-height:30px;
    margin:5px;
}
.navbar{
    text-align:center;
    font-size:1.15em;
}
/*Txt and clrs*/
body{
    background-color:#d3dad7;
    color:rgb(11, 18, 15);
    padding:0 0 1.5em 0;
}
/*Formatting (not txt/clrs)*/
table{
    border:none;
    border-collapse:collapse;
}
td, th{
    padding:5px;
}
h1{
    font-size:2em;
    font-family:'Raleway', sans-serif;
    text-align:center;
}
h2{
    font-size:1.5em;
    font-family:'Quattrocento Sans', sans-serif;
}
p{
    font-size:.9em;
    font-family: 'Lustria', serif;
}
    /*Home*/
/*Slideshow*/
* {box-sizing:border-box}

.imgslds{
    width:100%;
    max-height:46.875em;
}
    /*container for slides*/
.sldsCont{
    max-width:62.5em;
    position:relative;
    margin:auto;
}
    /*Hide images by default*/
.slides{
    display:none;
}
    /*Next & prev buttons*/
.prev, .next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top:-1.375em;
    padding:1em;
    color:white;
    font-weight:bold;
    font-size:1.125em;
    transition:0.5s ease;
    border-radius:0 0.188em 0.188em 0;
    user-select:none;
    background-color:rgba(0,0,0,0.25);
}
    /*Move next arrow to the right*/
.next{
    right:0;
    border-radius:0.188em 0 0 0.188em;
}
    /*Change bkgrd color on hover*/
.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.5);
}
    /*Caption Text*/
.txt{
    color:#f2f2f2;
    background-color:rgba(0,0,0,0.5);
    font-size:0.9375em;
    padding:0.5em 0.75em;
    position:absolute;
    bottom:0.5em;
    width:100%;
    text-align:center;
}
    /*Slide Number text*/
.numtxt{
    color:#f2f2f2;
    background-color:rgba(0,0,0,0.25);
    font-size:0.75em;
    padding:0.5em 0.75em;
    position:absolute;
    top:0;
}
    /*about*/
.banner{
    display:block;
    margin:auto;
    width:60%;
}
    /*Contact*/
label, input{
    display:block;
}
input{
    width:25%;
}
@media only screen and (min-width:1020px){
    input, label{
        display:inline-block;
    }
    .contactSect{
        text-align:center;
    }
   h2{
        text-align:left;
    }
    .inputEmail, .inputInquiry{
        /* width:24em; */
        width: 100%;
    }
    .fName{
        width:27%;
    }
    .lName{
        width:32.5%;
    }
    .formFormatting{
        display:inline-block;
        width:40%;
        text-align:left;
    }
}